decorator
imageio
imageio-ffmpeg
libtmux==0.8.2
matplotlib
numpy
opencv-python
Pillow
python-dateutil
PyYAML
scipy
subprocess32==3.5.4
tensorboardX
termcolor==1.1.0
tqdm
wandb==0.8.19
gym==0.17.1
seaborn
scikit-image
